html {
  background-image: url(Images/ship_wallpaper.jpg);
  padding: 0;
  margin: 0;
}

body {
  padding-top: 10px;
  width: 50%;
  margin: 0 auto;
  background-color: white;
}

.Title {
  border: 2px solid black;
  background-color: #a6badb;
  margin: 10px;

}

.Contact {
  border: 2px solid black;
  background-color: #a6badb;
  margin: 10px;
}
